In [1]:
# Imports

import os
import json
import pprint
import datetime
import pandas as pd


# Variables

pp = pprint.PrettyPrinter(indent=4)

# Read data

data = []
with open('./articles_standar.json') as input_file:
    for line in input_file:
        data.append(json.loads(line))

In [29]:
df = pd.DataFrame(data)

In [30]:
df.head(5)

,authors,keywords,publish_date,summary,text,title,top_image,url
0,[],"[que, una, italianas, el, gobierno, la, y, del...",2018-04-06 00:00:00,La reforma o la anulación de la ley Fornero de...,La reforma o la anulación de la ley Fornero de...,"La reforma de las pensiones italianas, en jueg...",http://e00-expansion.uecdn.es/assets/multimedi...,http://www.expansion.com/economia/2018/04/06/5...
1,[],"[china, que, han, aviones, el, y, la, guerra, ...",2018-04-06 00:00:00,China anunció que aplicaría la misma tasa a di...,El afecto entre Donald Trump y Boeing había si...,Lex FT: La guerra de aranceles entre china y E...,http://e00-expansion.uecdn.es/assets/multimedi...,http://www.expansion.com/opinion/2018/04/06/5a...
2,[],"[que, permanentes, el, y, del, la, trabas, por...",2018-04-06 00:00:00,"Hay ""evidencias convincentes"" de que [el equip...",El fabricante chino de telecomunicaciones preo...,Huawei triunfa pese a las trabas permanentes d...,http://e00-expansion.uecdn.es/assets/multimedi...,http://www.expansion.com/economia-digital/comp...
3,[],"[decano, su, que, baker, el, y, del, la, propi...",2018-04-06 00:00:00,"José María Alonso, decano del Ilustre Colegio ...","José María Alonso deja Baker McKenzie, bufete ...",El decano de los abogados de Madrid crea su pr...,http://e00-expansion.uecdn.es/assets/multimedi...,http://www.expansion.com/juridico/actualidad-t...
4,[],"[criptomonedas, que, su, operan, el, así, y, l...",2018-04-06 00:00:00,A pesar del interés creciente que despiertan l...,A pesar del interés creciente que despiertan l...,Así operan las criptomonedas,http://e00-expansion.uecdn.es/assets/multimedi...,http://www.expansion.com/mercados/divisas/2018...

In [55]:
df.shape

(106, 8)

In [60]:
pp.pprint(list(df.columns))

[   u'authors',
    u'keywords',
    u'publish_date',
    u'summary',
    u'text',
    u'title',
    u'top_image',
    u'url']

In [31]:
# Data Wrangling

keywords = []

for idx, row in df.iterrows():
    authors = ' / '.join(row['authors'])
    df.loc[idx, 'authors'] = authors
    
    for keyw in row['keywords']:
        keywords.append(keyw)

In [32]:
df.groupby(['authors']).size().reset_index().rename(columns={0: "count"})

                                    authors  count
0                                               98
1  Enviado Especial Cernobbio-Como / Italia      1
2                         José María Finat.      1
3        Por Fotos De Jmcadenas Y P. Moreno      1
4                     Por Loreto Ruiz-Ocaña      1
5                            Por N. Serrano      1
6                       Por Susana Pallares      1
7                      Por Víctor Rodríguez      1
8                Por Érika Fernández Belsol      1

In [49]:
# keywords analysis

df_kw = pd.DataFrame(pd.Series(keywords)).rename(columns={0: "keyword"})

In [50]:
df_kw.groupby('keyword').size().sort_values(0, ascending=False).reset_index().rename(columns={0: "count"})

           keyword  count
0               la    100
1               en     98
2                y     91
3               el     91
4              que     85
5              los     62
6              del     49
7              las     43
8              por     43
9               se     40
10             una     32
11            para     28
12              su     25
13              ha     23
14             más     16
15        millones     14
16              al     10
17              es      9
18             sus      8
19           mundo      5
20            este      5
21        gobierno      5
22           euros      5
23          españa      5
24            sube      5
25           mejor      4
26          semana      4
27           entre      4
28      industrial      4
29            como      4
..             ...    ...
650           nada      1
651         múnich      1
652          móvil      1
653            muy      1
654      mundiales      1
655         montes      1
656    modernizará      1
657           moda      1
658          mitad      1
659         minado      1
660          noche      1
661         nombra      1
662  oportunidades      1
663      noviembre      1
664      operativo      1
665         operan      1
666     oncológica      1
667            omc      1
668      olímpicos      1
669        olvidar      1
670            ola      1
671            ohl      1
672        ofrecer      1
673       oficinas      1
674          ocean      1
675       objetivo      1
676             o2      1
677             ny      1
678          nueva      1
679           1000      1

[680 rows x 2 columns]